<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="DelSole.WPF.TouchKeyboard" version="1.0.0" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.1" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.0-alpha0184" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks" version="1.9.1" targetFramework="net45" />
  <package id="MahApps.Metro.IconPacks.Material" version="1.9.1" targetFramework="net45" />
  <package id="NLog" version="5.0.0-beta10" targetFramework="net45" />
  <package id="NLog.Config" version="4.5.0-alpha04" targetFramework="net45" />
  <package id="NLog.Schema" version="4.5.0-alpha04" targetFramework="net45" />
</packages>